* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  overflow-x: hidden;

}
body {
  background-image: linear-gradient(rgba(249, 245, 245, 0.95), rgba(249, 245, 245, 0.95)), url(../img/r-architecture-A0aoiM8doMk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body.o {
  overflow-y: hidden;
}
a {
  text-decoration: none !important;
  color: black !important;
  font-size: 1.2rem;
  font-weight: 500;
}
header {
  position:fixed;
  top: 0;
  background-color:#1a6565;
  color: white !important;
  z-index: 200;
  width: 100%;
  margin-bottom: 200px;
  box-shadow: 0px 0px 3px 1px rgba(0, 99, 102, 0.95);
}

.hover-color{
  color: white !important;
}
.hover-color:hover {
  background-color: rgb(10, 80, 94);
  color: white !important;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  font-family: serif;

}

.hamburger {
  padding-right: 10px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 10px;
  background-color: white;
}
.nav__link {
  position: fixed;
  width: 100%;
  top: 58px;
  /* background-color: lightblue; */
  background-color: rgb(9, 56, 65);
  transform: translateX(200vw);
  transition: 2s;
}
.nav__link.hide{
  transform: translateX(0px);
  transition: 2s;
}
.nav__link a {
  display: block;
  padding: 10px 0 10px 20px;
}

#logo1 a{
  display:flex;
}

#logo1 h3{
  padding-top: 10px;
  font-family: 'Dancing Script', serif;
  color: white;
  padding-left: 10px;
}

#logo1 img{
  width: 15%;
  margin-left: 5px;
  margin-bottom: 20px;
}

.aboutHome {
  margin-top: 80px;
}
.aboutMain {
  background-image: linear-gradient(to right, rgba(10, 122, 117, 0.6), rgba(241, 238, 238, 0.8)), url(../img/r-architecture-2gDwlIim3Uw-unsplash.jpg);
  margin-top: 78px;
  text-align: center;
  background-color: rgb(10, 80, 94);
  padding: 30px;
}
#homeID {
  color: white !important;
  font-family: serif;
}
#aboutID {
  color: white !important;
  font-family: serif;
}
.aboutCom h3 {
  color: white;
  font-size: 60px;
  font-family: serif;
}
.aboutP {
  margin-bottom: 40px;
}
.aboutP p {
  color: white !important;
  font-family: serif;
}
.fa-chevron-right {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.reviewMain {
  text-align: center;
  background-color: rgb(9, 56, 65);
  margin-bottom: 30px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.95);
  margin-bottom: 50px;
}
.reviewMain1 {
  text-align: center;
}
.reviewMain1 h3 {
  color: rgb(242, 239, 239);
  font-family: serif;
  margin-top: 20px;
  font-size: 20px;
}
.connect{
  background-color: #1a6565;
  color: white;
}

.reviewMain1 h6 {
  color: rgb(255, 255, 255);
  font-family: serif;
  font-size: 40px;
}
.reviewMain1 p {
  color: white;
  font-family: serif;
  font-size: 17px;
}
.ceoDetail {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ceo {
  border-radius: 10px;
}
.ceoDetail p {
  color: rgb(0, 0, 0);
  margin-top: 40px;
}
.ceoDetail h5 {
  color: rgb(0, 0, 0);
  font-family: serif;
  margin-top: 20px;
  margin-bottom: 50px;
}
.ceoDetail h6 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-family: serif;
}
.ceoDetail h4 {
  color: rgb(0, 0, 0);
  font-family: serif;
  margin-bottom: 25px;
}
.fa-check {
  color: rgb(0, 0, 0);
  margin-top: 8px;
  padding-right: 20px;
}
.connect {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.95);
  padding-left: 10px;
  text-align: center;
}
.connect h5 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: serif;
  margin-top: 50px;
}
.all-icon {
  margin-left: 50px;
}
.con-soc {
  margin-top: 53px;
  padding-left: 5px;
  color: rgb(230, 228, 228);
  padding-left: 10px;
}
.expert {
  background-color:transparent !important;
  padding-bottom: 50px ;
}
.expert h6 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: serif;
}
.expert h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 50px;
}
.teamBoard {
  border: 1px solid rgb(14, 116, 136);
  transition: 1s ease-in-out;
  text-align: center;
  background-color: #1a6565;
}
.teamBoard:hover {
  border: 1px solid rgb(9, 56, 65);
}
.teamBoard h4 {
  color: white;
}
.teamBoard p {
  color: white;
}
.teampos {
  padding: 10px;
}
.fa-facebook {
  color: white;
  padding-left: 5px;
}



.footer-icon {
  width: 24%;
}
.sub-footer {
  padding: 50px;
  padding-left: 30px !important;
  background-color: #1a6565;
}
.footer-campus h5 {
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
  text-transform: uppercase;
}
.aca-footer h5 {
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
  text-transform: uppercase;
}
.camp-footer h5 {
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
  text-transform: uppercase;
}
.footer-email {
  color: white !important;
  font-size: 17px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-item {
  color: white !important;
  font-size: 17px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.con-otp-form {
  margin-top: 100px;
}
.otpsumbit {
  background-color: #1a6565 !important;
  color: white;
}
.fa-linkedin {
  color: white;
  padding-right: 20px;
}
.fa-facebook {
  color: white;
  padding-right: 20px;
}
.fa-twitter {
  color: white;
  padding-right: 20px;
}
.fa-youtube {
  color: white;
  padding-right: 20px;
}
















@media screen and (max-width: 600px) {
  .footer-campus h5 {
    margin-top: 20px;
  }
  .aca-footer h5 {
    margin-top: 20px;
  }
  .camp-footer h5 {
    margin-top: 20px;
  }
  .aboutMain {
    background-image: linear-gradient(to right, rgba(10, 122, 117, 0.6), rgba(241, 238, 238, 0.8)), url(../img/r-architecture-2gDwlIim3Uw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 78px;
    text-align: center;
    background-color: rgb(10, 80, 94);
    padding: 30px;
  } 
}

@media screen and (min-width: 800px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 15px;
    background: none;
    transform: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
    text-align: start;
  }

  .hamburger {
    display: none;
  }


}